* {
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}

.container{
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.rowContainer{
    flex: 1;
    display: flex;
}

.gridSquare{
    flex: 1;
    background-color: white;
}

.gridHover{
    background-color: white;
}
